*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width:100%;
    background:linear-gradient(to bottom, #2193b0, #6dd5ed);;
    padding:1rem;
}
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.header img ,.sidebar-header img{
    width:30px;
    height:auto;
    margin-left: 1rem;
}
.sidebar-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:300px;
    height:100vh;
    background:linear-gradient(to bottom, #2193b0, #6dd5ed);;
    transform:translateX(-100%);
    transition:transform .5s;
}
.show-sidebar{
    transform:translateX(0%);

}
.toggle , .cancel {
    padding:1rem;
    font-size:2rem;
    background:transparent;
    border:transparent;
    color: #fff;
    cursor:pointer;
}
.menu{
    list-style:none;
    margin-top: 1rem;
}

.menu li a{
    display:block;
    padding:1rem;
    color:#FFF;
    font-family: monospace;
    text-decoration: none;
    font-size:1rem;

}
.menu li:hover{
    background-color: #f39c12;
}
.hero{
    background-image: url(images/ocean.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width:100%;
    min-height:100vh;
}
.hero h1{
    font-size:4rem;
    color:#FFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hero button{
    background:transparent;
    border:transparent;
    padding: 0.7rem 1rem;
    margin-top: 2rem;
    width: 250px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1rem;
    background-color:#f39c12;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

@media  screen and (max-width:600px) {
    .sidebar{
        width:100%;
    }
    .hero h1{
        font-size:3rem;
    }
    .hero button{
        font-size:1rem;
        width: 150px;
    }
}
